:root {
    --bg-color: rgb(30, 30, 30);
    --nav-color: rgb(50, 50, 50);
    /*--border-color: rgb(151, 0, 133)*/
    --border-color: rgb(151, 29, 80);
}
* {
    color: white;
}

.navbar {
    background-color: var(--nav-color);
    width: 100%;
    position: fixed;
    z-index: 10;
    padding: 10px;
    margin: 0;
}

a {
    text-decoration: none;
    font-family: "Noto Sans Mono", sans-serif;
}

.navbar a {
    color: white;
    padding: 0 10px;
}

.title {
    font-size: 1.5em;
    margin: 0;
    font-weight: 400;
    font-style: normal;
    padding-right: 8px;
    border-right: 2px solid white;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 3vw;
}

.quote {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote > p {
    font-size: 1rem;
}

.future {
    background-color: rgb(63, 63, 63);
    padding: 0 2vw;
}

.lorem1 {
    padding: 0 2vw;
}

.lorem2 {
    padding: 0 2vw;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    overflow: hidden;
}